{{- $Site := .Site -}}
{{- $TaxonomyPage := ( .Site.GetPage ( print "/categories" ) ) -}}
{{- $Data := $TaxonomyPage.Data -}}
<section class='widget widget-taxonomy_cloud sep-after'>
    <header>
        <h4 class='title widget-title'>
            Categories
        </h4>
        <nav class="list sidebar-nav">
            <div class="container">
                <ul>
                    {{- range $Data.Terms.Alphabetical -}}
                      {{- with $Site.GetPage ( print "/" $Data.Plural "/" .Term ) -}}
                    <li class="list">
                        <a href='{{ .RelPermalink }}'>
                            {{- .Title -}}
                        </a>
                    </li>
                      {{- end -}}
                    {{- end -}}
                </ul>
            </div>
        </nav>
    </header>
</section>
