.widget-about div.logo {
    max-width: 10em;
}

h3.item-title > a {
    font-weight: bold;
}

div.container li {
    flex-wrap: wrap
}

@media screen and (max-width:920px) {
    div.container li header.item-header {
       flex-basis: 100%;
    }
}

h3.item-title div.categories, h3.item-title div.tags {
    display: inline;
    padding-left: 1em;
    white-space: nowrap;
    color: #37474f;
    font-size: 0.875em;
}
